<form method="POST" action="/posts/form-actions" class="container container-form" name="container-form">
    <div class="row mt-4">
        <div class="col-10">
            <h3>Các bài đăng của tôi</h3>
        </div>
        <a href="/me/trash/posts" class="col d-flex justify-content-center align-items-center post-deleted">
            <i class="fa fa-trash" aria-hidden="true"></i>({{deletedCount}})
        </a>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
        </label>
    </div>
    <div class="input-group mt-2">
        <select class="custom-select" id="inputGroupSelect04" name="action" required>
            <option value="" selected>Choose...</option>
            <option value="delete">Xóa</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-submit" type="submit" disabled>Thực Hiện</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Chọn</th>
                <th scope="col">#</th>
                <th scope="col">Tên bài đăng</th>
                <th scope="col">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="postIDs[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td><a href="/posts/{{this._id}}/edit" class="btn btn-outline-primary">Sửa</a></td>
                <td><a href="/" class="btn btn-outline-danger" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#deleteModel">Xóa</a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Bạn chưa có bài đăng nào!
                    <a href="/posts/create">Đăng bài ngay!</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete --}}
<div id="deleteModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bài đăng?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa bài đăng này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-post" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form --}}
<form name="delete-form" method="post"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var postId;
        var deleteForm = document.forms['delete-form'];
        var btnDeletePost = document.getElementById('btn-delete-post');
        var checkboxAll = $('#checkbox-all');
        var postItemCheckbox = $('input[name="postIDs[]"]');
        var btn_submit = $('.btn-submit');
        var containerForm = $('forms[name="container-form"]');

        $('#deleteModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postId = button.data('id');
        });

        btnDeletePost.onclick = function(){
            deleteForm.action = '/posts/' + postId + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all clicked
        checkboxAll.change(function(){
            var isCheckedAll = $(this).prop('checked')
            postItemCheckbox.prop('checked', isCheckedAll)
            ActiveBtn();
        });

        //post item checkbox changed
        postItemCheckbox.change(function(){
            var isCheckedAll = postItemCheckbox.length === $('input[name="postIDs[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            ActiveBtn();
        });

        containerForm.on('submit', function(e){
            var isSubmitable = !$(this).hasClass('disabled');
            if(!isSubmitable){
                e.preventDefault();
            }
        });

        function ActiveBtn(){
            var checkedCount = $('input[name="postIDs[]"]:checked').length;
            if(checkedCount > 0){
                btn_submit.removeAttr('disabled');
            }else{
                btn_submit.attr('disabled', true);
            }
        }
    });
</script>